:root {
    --background: rgb(72, 121, 255);
}
* {
    margin: 0;
}
body, html, .container{
    height: 100%;
    background: lightgray;
    font-family: 'Sanchez';
}

.container {
    display: grid;
    grid-template: 1fr 1fr  / 1fr 3fr 1fr;
 
    grid-template-areas: 
    "sidebar topline topline"
    "sidebar secondline secondline"
    "sidebar projects other";

}

.projects, .other {
    background: rgb(243, 240, 240);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--background);
    color: rgb(22, 18, 18);
    display: grid;
    color: white;
    grid-template-rows: 15vh 35vh 35vh;
     
}

#hero {
    font-size: 40px;
    padding: 30px;

}

li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 15% 30%;
    font-size: 24px;
}

img {
    vertical-align: center;
}
.topline {
    grid-area: topline;
    display: grid;
    grid-template-columns: 5% 65% 1fr 1fr 1fr 25px;
    background-color: rgb(253, 253, 247);
    align-items: center;
    justify-items: center;
}

.secondline {
    grid-area: secondline;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 5fr repeat(4, minmax(75px, 200px));
    background-color: rgb(253, 253, 247);
    align-items: center;
    box-shadow:rgb(209, 209, 193)
}

.bigavi {
    justify-self: right;
}

input {
    justify-self: left;
    width: 70%; 
    border-radius: 30px;
    height: 2em;
}
.projects {
    grid-area: projects;
    display: grid;
    grid-template-rows: 30px 1fr;
    padding: 30px;
   
}
.project-cards {
    display: grid;
    gap: 50px ;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
}

.subheader {
    font-size: 22px;
}

.pcard {
    display: grid;
    background: white;
    border: solid 2px white;
    border-left: solid 1px goldenrod;
    box-shadow: 3px 3px 3px 3px rgb(235, 235, 235);
    padding: 25px;
    box-sizing: border-box;
    
    grid-template-rows: 20% 60% 20%;
    border-radius: 8%;
    
}

.logos {
    justify-self: right;
}
.card-other {
    background: white;
    border: solid 2px white;
    border-radius: 8%;
    box-shadow: 3px 3px 3px 3px rgb(235, 235, 235)
}


.other {
    grid-area: other;
    display: grid;
    grid-template-rows: 30px 1fr 30px 1fr;
    padding: 30px;
    gap: 13px;
}





.card {
    border: solid 2px black;
}



.avi {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid 3px purple;
    background: radial-gradient(rgb(235, 133, 133), rgb(144, 144, 230));
}
#bigavi {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: solid 3px purple;
    background: radial-gradient(rgb(235, 133, 133), rgb(144, 144, 230));
}

img {
    height: 30px;
    width: 30px;
}

li {
    min-width: 40px;
}
 
.avis {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      
      
}

.announcement  {
    border-bottom: solid gray 3px;
    padding: 8px;
   
     
}

.card-avis {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
     
    background-color: white;
    border-radius: 8%;
    box-shadow: 3px 3px 3px 3px rgb(235, 235, 235);
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
     
}

.announcement:nth-of-type(3) {
    border-bottom:none;
     
}

button {
    border-radius: 30%;
    height: 2em;
    width: max(70px, 70%);
    background: rgb(72, 121, 255);
    color: white;
    font-size: 22px;
    border: none;
    font-family: 'Chivo';
    min-width: 100px;
}

.pcard h3 {
    align-self: flex-end;
    padding-bottom: 15px;
    font-family: 'Antic Slab'
}
 