* {
    margin: 0;
}
body, html, .container{
    height: 100%;
}

.container {
    display: grid;
    grid-template: 60px 60px 1fr / 1fr 3fr 1fr;
    grid-template-areas: 
    "sidebar topline topline"
    "sidebar secondline secondline"
    "sidebar projects other";

}

.sidebar {
    grid-area: sidebar;
}

.topline {
    grid-area: topline;
}

.secondline {
    grid-area: secondline;
}

.projects {
    grid-area: projects;
}

.other {
    grid-area: other;
}









.avi {
    height: 30px;
    width: 30px;
}